body {
    margin: 0px;
}

.header {
    height: 9%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px darkgrey;
}

.right-section {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.title {
    font: 400 32px Arial;
    color: #2196F3;
}

.user-account {
    cursor: pointer;
    width: 50%;
    justify-content: space-between;
    display: flex;
    align-items: center
}

.right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.add-button {
    margin-right: 42px;
    height: 40px;
    width: 100px;
    background-color: #2196F3;
    border-radius: 10px;
    align-items: center;
    display: flex;
    color: #fff;
    justify-content: center;
    cursor: pointer;
    font: 400 16px Arial;
}

.add-button-title {
    margin-left: 5px;
}

#plus-icon {
    height: 25px;
}

#user-icon {
    height: 30px;
    margin-right: 8px;
}

#logo {
    height: 30px;
}