.adverts-list {
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    width: calc(100% - 20px);
    display: flex;
    float: left;
    flex-wrap: wrap;
}

.advert {
    height: 250px;
    border: 1px solid darkgray;
    border-radius: 10px;
    box-shadow: 8px 8px 6px -6px darkgrey;
    margin-right: 15px;
    width: calc((100% - 80px) / 4);
    margin-top: 5px;
    margin-bottom: 5px;
}

.animal-img {
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid darkgray;
    margin-left: 5px;
    margin-right: 5px;
}

.details {
    height: 60%;
}

#profile-pic {
    height: 95%;
    border-radius: 50px;
}

.description {
    height: 65%;
}

.credits {
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    height: 40px;
    background-color: #2196F3;
    border-radius: 10px;
    align-items: center;
    display: flex;
    color: #fff;
    justify-content: center;
    margin-right: 10px;
    width: 75px;
    font: 400 14px Arial;
}

.time {
    height: 40px;
    background-color: #2196F3;
    border-radius: 10px;
    align-items: center;
    display: flex;
    color: #fff;
    justify-content: center;
    margin-left: 10px;
    width: 160px;
    font: 400 14px Arial;
}

.text-description {
    margin: 0px;
    padding: 5px;
}

