body {
    display: flex;
    justify-content: center;
}

.card-login {
    margin-top: 200px;
    border: 1px solid darkgray;
    height: 250px;
    width: 230px;
    border-radius: 10px;
    box-shadow: 8px 8px 6px -6px darkgrey;
}

.top-section {
    height: 50%;
    border-bottom: 1px solid darkgray;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-section {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-card {
    height: 72px;
    margin-top: 13px;
}

.login-text {
    margin-top: 10px;
    font-family: arial;
    font-size: 18px;
}

#google-img {
    height: 40px;
    margin-left: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.google-button {
    border: 1px solid darkgray;
    border-radius: 24px;
    width: 75%;
    height: 37%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.google-text {
    margin-right: 30px;
    font-size: 21px;
    font-family: arial;
}

.redirect {
    width: 100%;
    display: flex;
    justify-content: center;
}