<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/header.css">
<!--    <script src="../static/js/jquery-3.4.1.min.js"></script>-->
<!--    <script src="../static/js/base.js"></script>-->
<!--    <script src="../static/js/login.js"></script>-->

    <title>Login</title>
</head>
<body>
    <!-- <div class="header">
    
        <div class="left-section">
            <p class="title">Title</p>
        </div>
        
        <div class="right-section">
            <div class="user-account">
                <img src="../static/assets/user.svg" id="user-icon">
            </div>
            
            <div class="add-button">
                <img src="../static/assets/plus.svg" id="plus-icon">
                <span class="add-button-title">Add job</span>
            </div>

        </div>
    </div> -->

    <div class="card-login">
        <div class="top-section">
            <img src="../static/assets/account.svg" id="user-card">
            <span class="login-text">Please log in</span>
        </div>

        <div class="bottom-section">

             <a href="/login" class="redirect">
                <div class="google-button" id="google-button">
                    <img src="../static/assets/google-icon.svg" id="google-img">
                    <span class="google-text">Google</span>
                </div>
             </a>
        </div>
        
    </div>

</body>
</html>